
<div style="margin:auto; padding:30px 0; text-align:center; width:650px;"><img src="logo.png" alt="Logo"/></div>
<div style="color:#e7505a; font-family:Arial,sans-serif; font-size:14px; line-height:1.7em; margin:auto; padding:20px; width:650px;">Hello, {{ user.first_name }}<br/>
    Congratulations, your Travel request has been granted after all processes, find details below
</div>

<div style="background-color:#e7505a; border-bottom:2px solid #fff; color:#fff; font-family:Arial,sans-serif; font-size:26px; font-weight:bold; margin:auto; padding:20px; text-align:center; width:650px;">Travel Details</div>

<div class="table-data" style="padding:20px; background-color:#e7505a; width:650px; margin:auto;">
    <table cellpadding="0" cellspacing="0" style="border-collapse:collapse; border-spacing:0; margin:0 auto; padding:20px; font-size:14px; font-family:Arial,sans-serif; color:#fff; line-height:1.5em; width:650px;">
            <tr>
                <th style="border:1px solid #fff; color:#fff; font-family:Arial,sans-serif; font-size:15px; padding:10px; text-align:center; vertical-align:middle;">Staff</th>
                <th style="border:1px solid #fff; color:#fff; font-family:Arial,sans-serif; font-size:15px; padding:10px; text-align:center; vertical-align:middle;">Function</th>
                 <th style="border:1px solid #fff; color:#fff; font-family:Arial,sans-serif; font-size:15px; padding:10px; text-align:center; vertical-align:middle;">Travel Type</th>
                <th style="border:1px solid #fff; color:#fff; font-family:Arial,sans-serif; font-size:15px; padding:10px; text-align:center; vertical-align:middle;">Trip Type</th>
                <th style="border:1px solid #fff; color:#fff; font-family:Arial,sans-serif; font-size:15px; padding:10px; text-align:center; vertical-align:middle;">Rejected by</th>
            </tr>
            <tr>
                <td style="border:1px solid #fff; color:#fff; font-family:Arial,sans-serif; font-size:15px; padding:10px; text-align:center; vertical-align:middle;">{{ user.first_name }} {{ user.last_name }}</td>
                <td style="border:1px solid #fff; color:#fff; font-family:Arial,sans-serif; font-size:15px; padding:10px; text-align:center; vertical-align:middle;">{{ travel.function }}</td>
                <td style="border:1px solid #fff; color:#fff; font-family:Arial,sans-serif; font-size:15px; padding:10px; text-align:center; vertical-align:middle;">{{ travel.travel_type }}</td>
                <td style="border:1px solid #fff; color:#fff; font-family:Arial,sans-serif; font-size:15px; padding:10px; text-align:center; vertical-align:middle;">{{ travel.trip_type }}</td>
                <td style="border:1px solid #fff; color:#fff; font-family:Arial,sans-serif; font-size:15px; padding:10px; text-align:center; vertical-align:middle;">{{ travel.approval_level }}</td>
            </tr>

    </table>
</div>
